<div class=" px-48 pt-10 pb-4 border-b border-gray-900/10 w-full">
    <h2 class="text-base font-semibold leading-7 text-gray-900">Crear Reserva</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Registrar una reserva.</p>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-2">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Paquete</label>
            <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name"
                [(ngModel)]="reserva.idpaquete" name="paquete"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option [value]="p.idpaquete" *ngFor="let p of paquetes">{{p.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Cliente</label>
            <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name"
                [(ngModel)]="reserva.idcliente" name="cliente"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option [value]="c.idcliente" *ngFor="let c of clientes">{{c.nombres}} {{c.apellidos}}</option>
                </select>
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Fecha</label>
            <div class="mt-2">
                <input type="date" name="first-name" id="first-name" autocomplete="given-name"
                    [(ngModel)]="reserva.fecha" name="fecha"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Cantidad</label>
            <div class="mt-2">
                <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.cantidad" name="cantidad"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Tipo pago</label>
            <div class="mt-2">
                <input type="number" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.tipopago" name="tipopago"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Total Venta</label>
            <div class="mt-2">
                <input type="number" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.totalventa" name="totalventa"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Descuento</label>
            <div class="mt-2">
                <input type="number" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.descuento" name="descuento"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Total Neto</label>
            <div class="mt-2">
                <input type="number" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.totalneto" name="totalneto"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Confirmado</label>
            <div class="mt-2">
                <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.confirmado" name="confirmado"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Anulado</label>
            <div class="mt-2">
                <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                    [(ngModel)]="reserva.anulado" name="anulado"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Empleado</label>
            <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name"
                [(ngModel)]="reserva.codempleado" name="empleado"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                    <option [value]="e.codempleado" *ngFor="let e of empleados">{{e.nombrec}} - {{e.cargo}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
        <button type="submit"
        (click)="postReserva()"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Save</button>
    </div>
</div>

<div class="relative overflow-x-auto rounded-lg p-14">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    # Reserva
                </th>
                <th scope="col" class="px-6 py-3">
                    Paquete
                </th>
                <th scope="col" class="px-6 py-3">
                    Cliente
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Cantidad
                </th>
                <th scope="col" class="px-6 py-3">
                    TipoPago
                </th>
                <th scope="col" class="px-6 py-3">
                    TotalVenta
                </th>
                <th scope="col" class="px-6 py-3">
                    Descuento
                </th>
                <th scope="col" class="px-6 py-3">
                    TotalNeto
                </th>
                <th scope="col" class="px-6 py-3">
                    Confirmado
                </th>
                <th scope="col" class="px-6 py-3">
                    Anulado
                </th>
                <th scope="col" class="px-6 py-3">
                    CodEmpleado
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reservas" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    # {{r.idreserva}}
                </td>
                <td class="px-6 py-4">
                    {{r.idpaquete?.nombre}} - {{r.idpaquete?.iddestino?.ciudad}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{r.idcliente?.nombres}} {{r.idcliente?.apellidos}}
                </th>
                <td class="px-6 py-4">
                    {{r.fecha}}
                </td>
                <td class="px-6 py-4">
                    {{r.cantidad}}
                </td>
                <td class="px-6 py-4">
                    {{r.tipopago}}
                </td>
                <td class="px-6 py-4">
                    {{r.totalventa}}
                </td>
                <td class="px-6 py-4">
                    {{r.descuento}}
                </td>
                <td class="px-6 py-4">
                    {{r.totalneto}}
                </td>
                <td class="px-6 py-4">
                    {{r.confirmado}}
                </td>
                <td class="px-6 py-4">
                    {{r.anulado}}
                </td>
                <td class="px-6 py-4">
                    {{r.codempleado?.nombrec}} - {{r.codempleado?.codempleado}}
                </td>
                <td class="px-6 py-4 flex gap-2 justify-center items-center">
                    <button type="submit" (click)="deleteReserva()"
                        class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Eliminar</button>
                    <button type="submit"
                        class="rounded-md bg-yellow-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-yellow-600">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>